.btn {
    padding: .75rem 1.5rem;
    border-radius: .2rem;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
}

.btn-filled {
    background-color: #1F77BC;
    color: white;
    border: none;
}

.post-container {
    padding: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;

    border-bottom: 1px solid #ccc;
}

.post-heading {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.post-heading > p {
    color: #666;
    font-size: small;
    margin: 0; 
}

.post-heading > h3 {
    font-size: medium;
    margin: 0;
}


.post-heading > h3 > a {
    text-decoration: none;
    color: inherit;
}

.post-footing {
    display: flex;
    gap: 1rem;
}

.post-footing > a, button {
    color: #666;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.liked {
    fill: red;
    color: red;
}
