.btn {
    padding: .75rem 1.5rem;
    border-radius: .2rem;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
}

.btn-filled {
    background-color: #007bff;
    color: white;
    border: none;
}