/* adjust font sizes and align center */
h2, p {
    text-align: center;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: large;
}

/* to put the buttons in line with each other */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}