{% extends "layouts/authorised_layout.html" %}

{% block authorised_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feed.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
{% endblock %}

{% block sidebar_feed %}
    sidebar-item-active
{% endblock %}

{% block authorised_content %}
    <div class="post-box">
        <script type="text/javascript" src="{{ url_for('static', filename='js/post.js') }}"></script>
        <h2 class="post-title">Create a Chirp</h3>
        <textarea id="post-content" class="post-textarea" placeholder="What's going on?" maxlength="256"></textarea>
        {% with button_class="btn-filled post-btn", text="Post", id="post-btn" %}
            {% include 'components/button.html' %}
        {% endwith %}
    </div>
    {% for post, liked in posts %}
        {% with post=post, liked=liked %}
            {% include 'components/post.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}