{% extends "layout.html" %}
{% block nav_complete %}
    {% if not current %}
        header-link-active
    {% endif %}
{% endblock %}
{% block nav_current %}
    {% if current %}
        header-link-active
    {% endif %}
{% endblock %}
{% block content %}
<h1>
    {% if current %}
        Your Current Assessments
    {% else %}
        Your Completed Assessments
    {% endif %}
</h1>
{% with assessments=assessments %}
    {% include 'components/assessment_list.html' %}
{% endwith %}
{% endblock %}