{% extends "layout.html" %}
{% block nav_index %}header-link-active{% endblock %}
{% block content %}
    <h1>All assessments</h1>
    <h2>In progress:</h2>
    <div class="assessment-container">
        {% for assessment in current %}
            {% with assessment=assessment %}
                {% include 'components/assessment.html' %}
            {% endwith %}
        {% endfor %}
    </div>
    <h2>Completed:</h2>
    <div class="assessment-container">
        {% for assessment in completed %}
            {% with assessment=assessment %}
                {% include 'components/assessment.html' %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}