<form method="post" name="{{ name }}" class="form">
    {{ form.hidden_tag()}}
    <div class="input-group">
        <label for="module_code">Module Code</label>
        {{ form.module_code }}
    </div>
    <div class="input-group">
        <label for="title">Assessment Title</label>
        {{ form.title }}
    </div>
    <div class="input-group">
        <label for="description">Description</label>
        {{ form.description }}
    </div>
    <div class="input-group">
        <label for="due_date">Due Date/Time</label>
        {{ form.due_date }}
    </div>
    <button type="submit" class="btn">Submit</button>
</form>